{% extends "base.html" %}

{% block body_content %}
    {% include "navbar.html" %}
    <div class="container">
        <div class="well">
            <h3>About Hackt!</h3>

            <p>
                I'm Nina Zakharenko, and I'm in the Summer 2013 batch of <a
                    href="https://www.hackerschool.com/">hacker school</a>.
            </p>

            <p>I wrote Hackt to have an easy way to follow the large batches of hacker schoolers on twitter.</p>

            <p>
                It also allowed me to learn more about and use some great Python packages, including:
            <ul>
                <li><a href="http://flask.pocoo.org/">flask</a></li>
                <li><a href="https://github.com/mbr/flask-bootstrap">flask-bootstrap</a></li>
                <li><a href="http://www.sqlalchemy.org/">sql alchemy</a></li>
                <li><a href="https://github.com/bear/python-twitter">python-twitter</a></li>
            </ul>
            </p>

            <p>
                See the source code on <a href="https://github.com/nnja/follow-hackerschool">github</a>.
            </p>
        </div>
    </div>
{% endblock %}
