{% extends "base.html" %}

{% block bootstrap_js_bottom %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/bootstrap-tooltip.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-popover.js') }}"></script>
{% endblock %}

{% block body_content %}
    {% include "navbar.html" %}
    <div class="container">
        <div class="well">
            {% include "flash.html" %}
            <form method="POST" class="form-inline">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, False) }}
                <h4>Who do you want to follow?</h4>
                {{ form.batches }}
                <h4>Tweet about Hackt?
                    <a href="#" id="preview-tweet" class="btn btn-info btn-small" rel="tooltip"
                       data-trigger="hover"
                       data-content="<div><img src='{{ url_for('static', filename='img/twitter_preview.png') }}'></div>"
                       data-original-title="Preview"><i class="icon-white icon-info-sign"> </i></a>
                </h4>
                {{ form.should_tweet(value='y') }} {{ form.should_tweet.label }}
                <br><br>
                <button type="submit" class="btn btn-primary start" id="load"
                        data-loading-text="<i class='icon-upload icon-white'></i> Working...">Submit
                </button>
            </form>
        </div>
    </div>
{% endblock %}