<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a href="https://github.com/nnja" target="_blank"><img
                    style="position: absolute; top: 0; right: 0; border: 0;"
                    src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"
                    alt="Fork me on GitHub"></a>
            <a class="brand" href="/">
                <img height="48" width="48" src="{{ url_for('static', filename='img/logo.png') }}">
                Hackt</a>


            <ul class="nav nav-xlarge pull-left">
                <li class="divider-vertical"></li>
                <li class="li-spacer"><a href="/about"><i class="icon-info-sign icon-white"></i>About</a></li>
                {% if session['hs_auth'] %}
                    <li class="li-spacer"><a href="{{ url_for('logout') }}"><i class="icon-user icon-white"></i>
                        Logout</a></li>

                {% endif %}
            </ul>
        </div>
    </div>
</div>